
@media (max-width:991px) {
	.round_prt {
    height: 110px!important;
    width: 110px!important;
    bottom: 25px!important;
    left: 87px!important;
}
.para h3{
	padding-top:1px!important;
}
.angkor_prt{
	padding:0px 0px!important;
	font-size:9px;
}
}
@media (max-width:380px) {
	.Ecorce_txt h1 {
    padding: 0px!important;
}

}
@media (max-width:480px) {
	.product_txt {
    width: 297px!important;
}

}
